{T /_header}
<meta name="viewport" content="width=640,user-scalable=no" />
  <link rel="stylesheet" href="/css/wysiwyg.css">
  <link rel="stylesheet" href="/css/highlight/themes/atom-one-dark.css">
  <link rel="stylesheet" href="/css/index.css">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="/css/iview.css">
	<!--云 start-->
	<div id="sky">
		<div class="clound s1"></div>
		<div class="clound s2"></div>
		<div class="clound s3"></div>
		<div class="clound s4"></div>
		<div class="clound s5"></div>
		<div class="clound s6"></div>
	</div>
	<!--云 end-->

	<!--left start-->
  <div id="left" class="bian">
    <div class="li" v-for="item in level">
      <p class="word" v-text="item.li"></p>
    </div>
    <div id="process"></div>
  </div>
	<!--left end-->

	<!--right start-->
	<div id="right" class="bian"> 
    <div class="li" v-for="item in buttons" v-on:click="cgmk(item.state)">
      <p class="word" v-text="item.name"></p>
    </div>
	</div>
	<!--right end-->

	<!--中部分主体 start-->
	<div id="app">

		<!--任务 start-->
    <div id="task" v-if="model === 'task'">
      <!--搜索 start-->
      <i-input :value.sync="tasksearch" placeholder="增加任务，按回车键添加..." class="addtask" @on-enter="task_enter"></i-input>
      <!--分类显示 start-->
      <div class="flxs">
        <div class="fen1">未完成</div>
        <div class="fen2">已完成</div>
      </div>
      <!--分类显示 end-->
      <!--搜索 end-->
      <div class="task_box">
        <!--未完成 start-->
        <div class="task_ready">
          <div class="task_ready_li" v-for="index in taskli">
            <!--下拉菜单 start-->
            <Dropdown trigger="click" placement="bottom-start">
              <a href="javascript:void(0)">
                  <Icon type="navicon-round"></Icon>
              </a>
              <Dropdown-menu slot="list">
                  <Dropdown-item v-on:click="task_ok(index.id, '1')">完成</Dropdown-item>
                  <Dropdown-item v-on:click="task_change(index.id, index.name)">修改</Dropdown-item>
                  <Dropdown-item v-on:click="task_remove(index.id)">删除</Dropdown-item>
              </Dropdown-menu>
            </Dropdown>
            <!--下拉菜单 end-->
            <div class="task_ready_li_year" v-text="index.createtime"></div>
            <div class="task_ready_li_name" v-text="index.name"></div>
          </div>
        </div>
        <!--未完成 end-->
        <!--已结束 start-->
        <div class="task_end">
          <!--<div class="task_end_li" v-for="index in taskliok" v-text="index.name"></div>-->
          <div class="task_ready_li" v-for="index in taskliok">
            <!--下拉菜单 start-->
            <Dropdown trigger="click" placement="bottom-start">
              <a href="javascript:void(0)">
                  <Icon type="navicon-round"></Icon>
              </a>
              <Dropdown-menu slot="list">
                  <Dropdown-item v-on:click="task_ok(index.id, '0')">还原</Dropdown-item>
                  <Dropdown-item v-on:click="task_change(index.id, index.name)">修改</Dropdown-item>
                  <Dropdown-item v-on:click="task_remove(index.id)">删除</Dropdown-item>
              </Dropdown-menu>
            </Dropdown>
            <!--下拉菜单 end-->
            <div class="task_ready_li_year" v-text="index.createtime"></div>
            <div class="task_ready_li_name" v-text="index.name"></div>
          </div>
        </div>
        <!--已结束 end-->
      </div>
    </div>
		<!--任务 end-->

    <!--代码库 start-->
    <div id="code" v-if="model === 'code'">
       <!--搜索 start-->
      <div class="task_header">
        <!--按钮开关 start-->
        <Switch @on-change="change" class="switch" size="large">
          <span slot="open">选择</span>
          <span slot="close">搜索</span>
        </Switch>
        <!--按钮开关 end-->
        <!--级联选择 start-->
        <div class="bordjilian" v-if="!jilian">
          <Cascader :data="codename" trigger="hover" class="jilian" :render-format="format" :on-change="getcn"></Cascader>
        </div>
        <!--级联选择 end-->
        <!--点击搜索 start-->
        <input  v-if="jilian" v-model="codesearch" placeholder="代码名称，按回车键搜索" class="addtask">
        <!--点击搜索 end-->
        <!--删除和编辑模块 start-->
         <Dropdown trigger="click" placement="bottom-start">
            <a href="javascript:void(0)">
                事件
                <Icon type="arrow-down-b"></Icon>
            </a>
            <Dropdown-menu slot="list">
                <Dropdown-item v-on:click="code_chang">修改</Dropdown-item>
                <Dropdown-item v-on:click="code_delete">删除</Dropdown-item>
                <Dropdown-item v-on:click="code_add">增加</Dropdown-item>
            </Dropdown-menu>
        </Dropdown>
        <!--删除和编辑模块 end-->
      </div>
      <!--搜索 end-->

      <!--显示代码 start-->
      <div v-html="codecontent | marked" class="wysiwyg codecontent"></div>
      <!--显示代码 end-->

    </div>
    <!--代码库 end-->

    <!--写代码 start-->
    <div id="write" v-if="model === 'write'">
      <!--头部输入名称 start-->
      <i-input placeholder="填写名称" class="writename" :value.sync="write_name">
          <i-select :model.sync="write_val" slot="prepend" style="width: 80px">
              <i-option value="1">javascript</i-option>
              <i-option value="2">php</i-option>
              <i-option value="3">mysql</i-option>
              <i-option value="4">css</i-option>
              <i-option value="5">html</i-option>
              <i-option value="6">mixed</i-option>
          </i-select>
          <i-button slot="append" icon="android-upload" v-on:click="write_sub">提交</i-button>
      </i-input>
      <!--头部输入名称 end-->
      <!--编写代码部分 start-->
      <div id="editor">
        <textarea v-model="write" debounce="300"></textarea>
        <div v-html="write | marked" class="wysiwyg show_write"></div>
      </div>
      <!--编写代码部分 end-->
    </div>
    <!--写代码 end-->

	</div>
	<!--中部分主体 end-->

  <!--底部动画 start-->
  <div class="an_footer"></div>
  <!--底部动画 end-->
  <!-- 引入组件库 -->
  <script src="/js/iview.min.js"></script>
  <script src="/js/highlight/highlight.min.js"></script>
  <script src="/js/marked.min.js" charset="utf-8"></script>
  <script src="/js/anime.min.js" charset="utf-8"></script>
	<script src="/js/index.js" charset="utf-8"></script>
{T /_footer}