{T /_header}
	<link rel="stylesheet" href="/css/index.min.css">
	<!--云 start-->
	<div id="sky">
		<div class="clound s1"></div>
		<div class="clound s2"></div>
		<div class="clound s3"></div>
		<div class="clound s4"></div>
		<div class="clound s5"></div>
		<div class="clound s6"></div>
	</div>
	<!--云 end-->

	<!--left start-->
  <div id="left" class="bian">
    <div class="li" v-for="item in level">
      <p class="word" v-text="item.li"></p>
    </div>
    <div id="process"></div>
  </div>
	<!--left end-->

	<!--right start-->
	<div id="right" class="bian">
    <div class="li" v-for="item in buttons">
      <p class="word" v-text="item.name"></p>
    </div>
	</div>
	<!--right end-->

	<!--中部分主体 start-->
	<div id="app">
    	<h1 v-text="message" class="title"></h1>
		<!--导航 start-->
		<div class="nav">
			<div class="name">
        
			</div>
		</div>
		<!--导航 end-->
	</div>
	<!--中部分主体 end-->

	<script src="/js/index.min.js" charset="utf-8"></script>
{T /_footer}
